# Logs
*.log

/public/build

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.backup
.env.production

# IDE
/.idea
/.vscode
/.fleet
/.zed

# PHP / Laravel
/vendor
/storage/*
!/storage/app/public
!/storage/framework
!/storage/logs

/public/storage
/public/hot

# Node
/node_modules
/chat-server/node_modules
/.npm-cache

# Cache
.phpunit.result.cache
/.phpunit.cache
.phpactor.json

# Auth
/auth.json

# Laravel Env
Homestead.json
Homestead.yaml
